rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /chats/{fileName} {
      allow create, get: if 
        request.resource.size < 1 * 1024 * 1024 &&
         request.resource.contentType == 'application/json';
      allow update, delete, list: if false;
    }
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}